[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
# manage_profiles = {path = "src", editable = true}
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.9"
